{% extends 'emails/base.html' %}
{% load static account i18n %}

{% block email_title %}
{% blocktrans %}Password Reset E-mail{% endblocktrans %}
{% endblock %}

{% block email_subject %}
{% blocktrans %}Password Reset E-mail{% endblocktrans %}
{% endblock %}

{% block email_body %}

{% blocktrans %}You're receiving this e-mail because you or someone else has requested a password for your user account.
It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}

<br>
<br>

{% if username %}{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}{% endif %}
{% endblock %}

{% block button_activate %}
{{ password_reset_url }}
{% endblock %}

{% block button_title %}
RESET PASSWORD
{% endblock %}