{% load static %}

<!-- JavaScripts
	============================================= -->
<script async src="{% static 'js/jquery.js' %}"></script>
<script async src="{% static 'js/plugins.min.js' %}"></script>
<script async src="{% static 'js/plugins.tabs.js' %}"></script>
<script async src="{% static 'js/plugins.easing.js' %}"></script>

<!-- TinyMCE Plugin -->
<script async src="{% static 'js/components/tinymce/tinymce.min.js' %}"></script>

<!-- Footer Scripts
	============================================= -->
<script async src="{% static 'js/functions.js' %}"></script>